*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

body{
    background:rgb(234, 205, 189);
    color:#222;
}


.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#000;
    color:#e09090;
}

.logo{
    font-size:24px;
    font-weight:700;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    color:#fff;
    text-decoration:none;
    font-size:16px;
}


.menu{
    background:url('img/a-cup-of-coffee-with-a-beautiful-latte-art-design-on-a-beige-background-photo.jpeg') center/cover no-repeat;
    height:380px;
    display:flex;
    /* justify-content:center;
    align-items:center; */
    padding-left: 20%;
    padding-top: 10%;
    color:#020202;
}

.menu-text h3{
    font-size:20px;
}

.menu-text h1{
    font-size:55px;
    margin:10px 0;
}

.menu-text button{
    padding:10px 25px;
    background:#000;
    color:#fff;
    border:none;
    cursor:pointer;
}


.section{
    text-align:center;
    padding:50px 20px;
}

.category-box{
    display:flex;
    justify-content:center;
    gap:90px;
    margin-top:30px;
  border: #000;
    flex-wrap:wrap;
}
.shake-box{
    display:flex;
    justify-content:center;
    gap:90px;
    margin-top:30px;
border: #000;
    flex-wrap:wrap;
}
.blog-box{
    display:flex;
    justify-content:center;
    gap:100px;
    margin-top:30px;
    flex-wrap:wrap;
}


.cat{
    position:relative;
    width:280px;
}

.cat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0.5;     
    color: #00000027;
}

.shadow {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.3); 
}
.cat-text{
    position:absolute;
    bottom:20px;
    left:20px;
    color:#fff;
}


.shake{
    width:250px;
    text-align:center;
    padding:20px;
    border:1px solid #ddd;
    border-radius:10px;
}

.shake img{
    width:130px;
    height:160px;
    object-fit:contain;
}

.shake button{
    margin-top:10px;
    padding:8px 20px;
    background:black;
    color:white;
    border:none;
}


.blog{
    width:260px;
    text-align:left;
}

.blog img{
    width:100%;
    height:180px;
    border-radius:10px;
    object-fit:cover;
}


.footer{
    background:#000;
    color:#fff;
    padding:40px 20px;
}

.footer-grid{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.footer-grid h4{
    margin-bottom:10px;
}

.footer-grid p{
    margin:5px 0;
}





@media (max-width:700px){

    .navbar{
        padding:15px 20px;
    }

    .nav-links{
        display:none; 
    }

    .menu{
        height:300px;
    }

    .menu-text h1{
        font-size:35px;
    }

    .footer-grid{
        flex-direction:column;
        text-align:center;
    }
}

@media (max-width:450px){

    .menu-text h1{
        font-size:28px;
    }

    .shake, .cat, .blog{
        width:90%;
    }
}